.threadContent {
  width: 500px;
  margin: 20px auto;
}

.addPostForm {
  margin-top: 20px;
}

.toolbar {
  margin: 20px 0;
  display: flex;
  align-items: flex-between;
  &Item {
    margin: 4px 8px;
  }
}
